<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearing Impairment Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vtsl.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    <h1>HEARING IMPAIRMENT ASSISTANT</h1>
    <button onclick="startAssistant()">Live Voice</button>
    <div id="output"></div>
</body>
</html>
